/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Globals  */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Variables  */
:root{
    --color_Blue: #3f93f1;
    --color_Dark1: #1e1e1e;
    --color_Dark2: #252527;
    --color_Light1: #dfdfdf;
    --color_Light2: #c4c4c4;
}

div.text {
    position: relative;
    margin-top: 2rem;
}

/* =============== Sidebar =============== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: var(--color_Dark1);
    transition: all .5s ease;
    z-index: 100;
}
.sidebar.close{
    width: 78px;
}

/* --------- Logo ------------ */
.logo-box{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color_Light1);
    transition: all .5s ease;
}
.logo-box:hover{
    color: var(--color_Blue);
}
.logo-box i{
    font-size: 30px;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    transition: all .5s ease;
}
.sidebar.close .logo-box i{
    transform: rotate(360deg);
}
.logo-name{
    font-size: 22px;
    font-weight: 600;
}

/* ---------- Sidebar List ---------- */
.sidebar-list{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
    border-color: white;
    border-radius: 10%;
}
.sidebar-list::-webkit-scrollbar{
    display: none;
}
.sidebar-list li{
    transition: all .5s ease;
}
.sidebar-list li:hover{
    background-color: var(--color_Dark2);
}
.sidebar-list li .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    cursor: pointer;
}
.sidebar-list li.active .title{
    background-color: var(--color_Blue);
}
.sidebar-list li.active .bxs-chevron-down{
    transition: all .5s ease;
    transform: rotate(180deg);
}
.sidebar-list li .title .link{
    display: flex;
    align-items: center;
}
.sidebar-list li .title i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--color_Light1);
    font-size: 20px;
}
.sidebar-list li .title .name{
    font-size: 18px;
    font-weight: 400;
    color: greenyellow;
}

/* ---------------- Submenu ------------- */
.sidebar-list li .submenu{
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .5s ease;
}
.sidebar-list li.dropdown.active .submenu{
    width: unset;
    height: unset;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 6px 6px 14px 80px;
    background-color: var(--color_Dark2);
}
.submenu .link{
    color: var(--color_Light2);
    font-size: 15px;
    padding: 5px 0;
    transition: all .5s ease;
}
.submenu .link:hover{
    color: red;
}
.submenu-title{
    display: none;
}

/* ---------------- Submenu Close ------------- */
.sidebar.close .logo-name,
.sidebar.close .title .name,
.sidebar.close .title .bxs-chevron-down
{
    display: none;
}

.sidebar.close .sidebar-list{
    overflow: visible;
}
.sidebar.close .sidebar-list li{
    position: relative;
}
.sidebar.close .sidebar-list li .submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    height: max-content;
    width: max-content;
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
}
.sidebar.close .sidebar-list li:hover .submenu{
    opacity: 1;
    top: 0;
    pointer-events: initial;
    background-color: var(--color_Dark2);
}
.sidebar.close .submenu-title{
    display: block;
    font-style: 18px;
    color: greenyellow
}

/* =============== Home Section =============== */
.home{
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all .5s ease;
    background-color: #1e1e1e;
}
.sidebar.close ~ .home{
    left: 78px;
    width: calc(100% - 78px);
}
.home .toggle-sidebar{
    height: 60px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}
.home .toggle-sidebar i{
    font-size: 35px;
    color: red;
    margin-left: 15px;
}
.home .toggle-sidebar .text{
    font-size: 25px;
    color: white;
    font-weight: 600;
}


/* Profile Section  */
.Profile {
    position: fixed;
    color: red;
    font-size: 26px;
    font-family: sans-serif;
    right: 40px;
    top: 13px;
}
.Profile:hover{
    color: greenyellow;
    font-size: 26px;
    font-family: sans-serif;
    right: 35px;
    top: 10px;
}

img {
    position: fixed;
    right: 130px;
    height: 40px;
    width: 40px;
    top: 12px;
    border-radius: 100px;
    border-style: groove;
    border-color: red;
}
img:hover{
    border-color: greenyellow;
}

footer{
    color: red;
    background-color: var(--color_Dark1);
    text-align: center;

}

footer span:hover {
    color: greenyellow;

}
a.button-btn{
    color: red;
}

a.button-btn:hover {
    color: greenyellow;
   }



/* ============ Responsive / Breakpoints ========== */
@media (max-width: 1080px){
    
}

/* For Medium Devices */
@media (max-width: 774px){
   
}
@media (max-width: 560px){
    
}

/* For Small Devices */
@media (max-width: 360px){
   
}




/* Update Profile  */

    .update-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: grey;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .update-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--color_Dark1);
        border-radius: 3px;
    }

    .form-group input[type="file"] {
        padding: 5px 0;
    }

    .form-group input[type="submit"] {
        padding: 8px 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .form-group input[type="submit"]:hover {
        background-color: #45a049;
    }
    

